version: '3.8'

services:
  php:
    build:
      context: php-8.0
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID}
        GROUP_ID: ${GROUP_ID}
    image: php-xdebug
    container_name: php
    restart: unless-stopped
    volumes:
      - ./app:/var/www:Z

  nginx:
    build:
      context: nginx-1.20.1
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID}
        GROUP_ID: ${GROUP_ID}
    image: nginx-dev
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./app:/var/www:Z
      - ./nginx-conf:/etc/nginx/conf.d:Z
    depends_on:
      - php
  mysql:
    build:
      context: mysql-8.0
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID}
        GROUP_ID: ${GROUP_ID}
    image: mysql-dev
    container_name: mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    volumes:
      - ./dbdata:/var/lib/mysql:Z
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    command: --default-authentication-plugin=mysql_native_password --skip_name_resolve